@import "../../../css/less/general.less";

@import "module-style.less";

.editor-styles-wrapper h1,
.editor-styles-wrapper h2,
.editor-styles-wrapper h3,
.editor-styles-wrapper h4,
.editor-styles-wrapper h5,
.editor-styles-wrapper h6 {
	margin-top:0!important;
	margin-bottom:20px!important;
}

.editor-styles-wrapper ol {
	list-style-type: decimal-leading-zero!important;
}

.editor-styles-wrapper ul {
	list-style-type: none!important;
	padding-left: 0!important;
}

 .editor-styles-wrapper ul ul {
	 list-style-type: none!important;
 }

.editor-styles-wrapper ol li {
	padding: 8px 0 0;
}

.editor-styles-wrapper ul li {
	padding: 8px 0 0;
}

.editor-styles-wrapper .wp-block-quote {
	margin-left:auto!important;
	margin-right:auto!important;
	margin-bottom:0!important;
}

.wp-block-freeform.block-library-rich-text__tinymce .gallery .gallery-item {
	padding:0;
}

.editor-styles-wrapper {
	.gutenberg_styles();
	
	.wp-block .mce-content-body {
		line-height:inherit;
	}
	
	.wp-block {
		max-width:@cont_width_def - @blocks_hor_pad * 2;
		
		&[data-align="full"] {
			body:not(.enable_sidebar) & {
				margin:0 auto;
				
				> .editor-block-list__block-edit {
					margin-left:-28px;
					margin-right:-28px;
				}
			}
        }
		
		@media @monitor_large {
			max-width:@cont_width_large - @blocks_hor_pad * 2;

			.post-type-post & {
				max-width:(@cont_width_large - 160px) - @blocks_hor_pad * 2 + @gutenberg_block_paddings;
			}
		}
		
		@media @monitor_tablet {
			max-width:@cont_width_full;
		}
	}
	
	@media @monitor_tablet_600 {
		padding-left:@blocks_hor_pad - 14px;
		padding-right:@blocks_hor_pad - 14px;
	}
	
	.enable_sidebar & {
		.wp-block {
			max-width:(@cont_width_def - @blocks_hor_pad * 2) * (@content_width / 100);
			
			&[data-align="full"] {
				margin-left:auto!important;
				margin-right:auto!important;
				
				> .editor-block-list__block-edit {
					margin-left:-28px;
					margin-right:-28px;
					
					@media @monitor_tablet_600 {
						margin-left:0;
						margin-right:0;
					}
					
					&:before {
						left:-14px;
						right:-14px;
					}
				}
			}
			
			@media @monitor_large {
				max-width:(@cont_width_large - @blocks_hor_pad * 2) * (@content_width / 100);

				.post-type-post& {
					max-width:((@cont_width_large - @blocks_hor_pad * 2) * (@content_width / 100) + @gutenberg_block_paddings) + 140px;
				}
			}
			
			@media @monitor_tablet {
				max-width:@cont_width_full;
			}
		}
	}
	
	
	/** === Change margin for gutenberg block === */
	.editor-block-list__layout {
		.editor-default-block-appender > .editor-default-block-appender__content,
		> .editor-block-list__block > .editor-block-list__block-edit,
		> .editor-block-list__layout > .editor-block-list__block > .editor-block-list__block-edit {
			margin-top:@line_height_pad;
			margin-bottom:@line_height_pad;
			
			&:before {
				top:-8px;
				bottom:-8px;
			}
		}
		
		.block-library-classic__toolbar {
			transform:translateY(-8px);
			
			@media @monitor_tablet_600 {
				padding:0;
			}
		}
		
		.editor-block-list__block {
			.editor-block-contextual-toolbar {
				transform:translateY(-46px);
				
				@media @monitor_tablet_600 {
					transform:none;
				}
			}
			
			&[data-type="core/freeform"] {
				.editor-block-contextual-toolbar {
					transform:translateY(-7px);
					
					@media @monitor_tablet_600 {
						transform:none;
					}
				}
			}
			
			&[data-align=left],
			&[data-align=right] {
				.editor-block-contextual-toolbar {
					transform:translateY(-9px);
				}
			}
		}
	}
	
	.wp-block-columns {
		> .editor-inner-blocks {
			> .editor-block-list__layout {
				> [data-type="core/column"] {
					> .editor-block-list__block-edit {
						&:before {
							top:-8px;
							bottom:-8px;
						}
					}
				}
			}
		}
	}
	
	.wp-block-columns {
		> .editor-inner-blocks {
			> .editor-block-list__layout {
				> [data-type="core/column"] {
					> .editor-block-list__block-edit {
						> div {
							> .editor-inner-blocks {
								margin-top:-20px;
								margin-bottom:-20px;
							}
						}
					}
				}
			}
		}
	}
}

