/**
 * @package 	WordPress
 * @subpackage 	Payday Loans
 * @version 	1.0.8
 * 
 * Theme Fonts Rules
 * Created by CMSMasters
 * 
 */


/***************** Start Theme Font Styles ******************/

	/* Start Content Font */
	body,
	.widget_tag_cloud a, 
	.header_top .meta_wrap, 
	.widget_calendar tbody td, 
	.widget_custom_contact_info_entries a, 
	.cmsmasters_tabs .cmsmasters_tabs_list_item a, 
	.header_top .meta_wrap a, 
	.cmsmasters_toggles .cmsmasters_toggle_title a, 
	.cmsmasters_items_sort_block .button, 
	.cmsmasters_items_filter_list li a, 
	.cmsmasters_twitter_wrap .cmsmasters_twitter_item_content, 
	.cmsmasters_open_post .cmsmasters_post_tags > a, 
	ul.navigation li a .nav_subtitle {
		font-family:'Poppins', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:14px;
		line-height:24px;
		font-weight:normal;
		font-style:normal;
	}
	
	.widget {
		font-size:13px;
	}
	
	.widget_calendar tbody td {
		font-size:12px;
		line-height:21px;
	} 
	
	.cmsmasters_twitter_wrap .cmsmasters_twitter_item_content, 
	.cmsmasters_twitter_wrap .cmsmasters_twitter_item_content a {
		font-size:16px;
		line-height:32px;
	}
	
	.cmsmasters_toggles .cmsmasters_toggle_title a, 
	.cmsmasters_tabs .cmsmasters_tabs_list_item a {
		font-size:18px;
		line-height:28px;
	}
	
	ul.navigation li a .nav_subtitle {
		font-size:12px;
		line-height:20px;
		text-transform:none;
	}
	
	.header_top .meta_wrap,
	.header_top .meta_wrap a {
		font-size:12px;
	}
	
	/* Finish Content Font */


	/* Start Link Font */
	a {
		font-family:'Poppins', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:13px;
		line-height:24px;
		font-weight:600;
		font-style:normal;
		text-transform:none;
		text-decoration:none;
	}
	
	a:hover {
		text-decoration:none;
	}
	/* Finish Link Font */


	/* Start Navigation Title Font */
	.navigation > li > a, 
	.top_line_nav > li > a, 
	.footer_nav > li > a, 
	.footer_copyright, 
	.navigation .menu-item-mega-container > ul > li > a .nav_title {
		font-family:'Poppins', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:14px;
		line-height:21px;
		font-weight:600;
		font-style:normal;
		text-transform:uppercase;
	}
	
	@media only screen and (max-width: 1024px) {
		.navigation > li > a {
			font-size:12px;
		}
	}
	
	.footer_nav > li > a, 
	.footer_copyright {
		font-size:12px;
	}
	
	.footer_copyright {
		text-transform:none;
	}
	
	.top_line_nav > li > a {
		font-size:12px;
		text-transform:none;
	}
	
	.navigation .menu-item-mega-container > ul > li > a .nav_title {
		font-size:12px;
	}
	
	/* Finish Navigation Title Font */


	/* Start Navigation Dropdown Font */
	.navigation ul li a,
	.top_line_nav ul li a {
		font-family:'Poppins', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:12px;
		line-height:21px;
		font-weight:500;
		font-style:normal;
		text-transform:none;
	}
	
	.top_line_nav ul li a {
		font-size:10px;
	}
	
	/* Finish Navigation Dropdown Font */


	/* Start H1 Font */
	h1,
	h1 a,
	.cmsmasters_price_wrap .cmsmasters_currency, 
	.cmsmasters_price_wrap .cmsmasters_price, 
	.cmsmasters_price_wrap .cmsmasters_coins, 
	.logo .title {
		font-family:'Poppins', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:36px;
		line-height:42px;
		font-weight:normal;
		font-style:normal;
		text-transform:none;
		text-decoration:none;
	}
	
	.cmsmasters_dropcap {
		font-family:'Poppins', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-weight:normal;
		font-style:normal;
		text-transform:none;
		text-decoration:none;
	}
	
	.cmsmasters_icon_list_items.cmsmasters_icon_list_icon_type_number .cmsmasters_icon_list_item .cmsmasters_icon_list_icon:before,
	.cmsmasters_icon_box.box_icon_type_number:before,
	.cmsmasters_icon_box.cmsmasters_icon_heading_left.box_icon_type_number .icon_box_heading:before {
		font-family:'Poppins', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-weight:normal;
		font-style:normal;
	}
	
	.cmsmasters_dropcap.type1 {
		font-size:36px; /* static */
	}
	
	.cmsmasters_dropcap.type2 {
		font-size:20px; /* static */
	}
	
	.headline_outer .headline_inner .headline_icon:before {
		font-size:41px;
	}
	
	.headline_outer .headline_inner.align_center .headline_icon:before {
		font-size:57px;
	}
	
	.headline_outer .headline_inner.align_left .headline_icon {
		padding-left:41px;
	}
	
	.headline_outer .headline_inner.align_right .headline_icon {
		padding-right:41px;
	}
	
	.headline_outer .headline_inner.align_center .headline_icon {
		padding-top:57px;
	}

	.cmsmasters_price_wrap .cmsmasters_currency, 
	.cmsmasters_price_wrap .cmsmasters_price, 
	.cmsmasters_price_wrap .cmsmasters_coins {
		font-size:60px;
		line-height:66px;
	}
	
	/* Finish H1 Font */


	/* Start H2 Font */
	h2,
	h2 a,
	.cmsmasters_sitemap_wrap > h1,
	.cmsmasters_sitemap_wrap > h1 a,
	.cmsmasters_sitemap_wrap .cmsmasters_sitemap > li > a {
		font-family:'Poppins', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:28px;
		line-height:34px;
		font-weight:normal;
		font-style:normal;
		text-transform:none;
		text-decoration:none;
	}
	
	.cmsmasters_sitemap_wrap .cmsmasters_sitemap > li > a {
		font-size:24px;
		line-height:30px;
	}
	
	/* Finish H2 Font */


	/* Start H3 Font */
	h3,
	h3 a, 
	.cmsmasters_stats.stats_mode_bars.stats_type_vertical .cmsmasters_stat_wrap .cmsmasters_stat_counter_wrap, 
	.cmsmasters_post_date {
		font-family:'Poppins', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:24px;
		line-height:30px;
		font-weight:normal;
		font-style:normal;
		text-transform:none;
		text-decoration:none;
	}
	
	.cmsmasters_post_date {
		font-size:24px;
		line-height:30px;
	}
	
	/* Finish H3 Font */


	/* Start H4 Font */
	h4, 
	h4 a,
	.cmsmasters_stats .cmsmasters_stat_wrap .cmsmasters_stat_title, 
	#fbuilder .one_column label, 
	.wpcf7-list-item-label,
	body .cmsmasters-form-builder .check_parent input[type=checkbox] + label, 
	body .cmsmasters-form-builder .check_parent input[type=radio] + label, 
	.cmsmasters_single_slider .cmsmasters_post_date,
	.cmsmasters_post_masonry .cmsmasters_post_date, 
	.cmsmasters_posts_slider .cmsmasters_slider_post_date {
		font-family:'Poppins', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:18px;
		line-height:24px;
		font-weight:normal;
		font-style:normal;
		text-transform:none;
		text-decoration:none;
	}
	
	#fbuilder .one_column label, 
	.wpcf7-list-item-label,
	body .cmsmasters-form-builder .check_parent input[type=checkbox] + label, 
	body .cmsmasters-form-builder .check_parent input[type=radio] + label {
		font-size:14px;
		line-height:20px;
	}
	
	.cmsmasters_single_slider .cmsmasters_post_date,
	.cmsmasters_posts_slider .cmsmasters_slider_post_date,  
	.cmsmasters_post_masonry .cmsmasters_post_date {
		font-size:18px;
		line-height:20px;
	}
	/* Finish H4 Font */


	/* Start H5 Font */
	h5,
	h5 a, 
	.widgettitle, 
	.widgettitle a, 
	#fbuilder .fform > span, 
	#fbuilder .section_breaks label,
	.page #fbuilder .codepeoplecalculatedfield, 
	.cmsmasters_sitemap_wrap .cmsmasters_sitemap > li > ul > li.menu-item-has-children > a, 
	.cmsmasters_counters .cmsmasters_counter_wrap .cmsmasters_counter .cmsmasters_counter_inner .cmsmasters_counter_title, 
	.cmsmasters_counters .cmsmasters_counter_wrap .cmsmasters_counter .cmsmasters_counter_inner .cmsmasters_counter_counter_wrap, 
	.cmsmasters_stats.stats_mode_bars.stats_type_vertical .cmsmasters_stat_wrap .cmsmasters_stat_title, 
	.cmsmasters_stats.stats_mode_circles .cmsmasters_stat_wrap .cmsmasters_stat_title, 
	.cmsmasters_stats.stats_mode_circles .cmsmasters_stat_wrap .cmsmasters_stat .cmsmasters_stat_inner .cmsmasters_stat_counter_wrap, 
	.cmsmasters_stats.stats_mode_bars .cmsmasters_stat_wrap .cmsmasters_stat_counter_wrap {
		font-family:'Poppins', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:16px;
		line-height:22px;
		font-weight:600;
		font-style:normal;
		text-transform:uppercase;
		text-decoration:none;
	}
	
	.cmsmasters_counters .cmsmasters_counter_wrap .cmsmasters_counter .cmsmasters_counter_inner .cmsmasters_counter_counter_wrap {
		font-size:48px;
		line-height:54px;
	}
	
	.cmsmasters_stats.stats_mode_bars .cmsmasters_stat_wrap .cmsmasters_stat_counter_wrap {
		font-size:16px;
		line-height:20px;
	}
	
	.cmsmasters_stats.stats_mode_circles .cmsmasters_stat_wrap .cmsmasters_stat .cmsmasters_stat_inner .cmsmasters_stat_counter_wrap {
		font-size:48px;
		line-height:68px;
	}
	
	.page #fbuilder .codepeoplecalculatedfield {
		font-size:14px;
	}
	
	/* Finish H5 Font */


	/* Start H6 Font */
	h6,
	h6 a,
	.cmsmasters_sitemap_wrap .cmsmasters_sitemap_archive li,
	.cmsmasters_sitemap_wrap .cmsmasters_sitemap_archive li a,
	.cmsmasters_sitemap_wrap .cmsmasters_sitemap_category > li > a, 
	.cmsmasters_archive_type .cmsmasters_archive_item_type, 
	.cmsmasters_sitemap_wrap .cmsmasters_sitemap > li > ul > li a, 
	.widget_rss ul li .rsswidget, 
	.cmsmasters_table_row_header th,
	.cmsmasters_table_row_footer td,
	.cmsmasters_open_project .project_details_item_title, 
	.cmsmasters_open_project .project_features_item_title, 
	.cmsmasters_open_profile .profile_details_item_title, 
	.cmsmasters_open_profile .profile_features_item_title, 
	.widget_custom_posts_tabs_entries .cmsmasters_tabs a, 
	.widget_custom_posts_tabs_entries .cmsmasters_tabs .color_2, 
	.widget_custom_posts_tabs_entries .cmsmasters_tabs .cmsmasters_tabs_list_item a, 
	.cmsmasters_price_wrap {
		font-family:'Poppins', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:12px;
		line-height:20px;
		font-weight:600;
		font-style:normal;
		text-transform:uppercase;
		text-decoration:none;
	}
	/* Finish H6 Font */


	/* Start Button Font */
	#fbuilder .pbNext, 
	#fbuilder .pbPrevious, 
	#fbuilder .reset-button, 
	.cmsmasters_button, 
	.button, 
	input[type=submit], 
	input[type=button], 
	.widget.widget_wysija input[type=submit], 
	button {
		font-family:'Poppins', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:14px;
		line-height:49px;
		font-weight:600;
		font-style:normal;
		text-transform:uppercase;
	}
	
	.widget .cmsmasters_button, 
	.widget .button, 
	.widget input[type=submit], 
	.widget input[type=button], 
	.widget button {
		font-size:12px;
		line-height:45px;
	}
	
	#fbuilder input[type=button], 
	#fbuilder .pbNext, 
	#fbuilder .pbPrevious, 
	#fbuilder .reset-button {
		font-size:12px;
		line-height:41px;
	}
	
	.gform_wrapper .gform_footer input.button, 
	.gform_wrapper .gform_footer input[type=submit] {
		font-size:14px !important;
	}
	
	.cmsmasters_button.cmsmasters_but_icon_dark_bg, 
	.cmsmasters_button.cmsmasters_but_icon_light_bg, 
	.cmsmasters_button.cmsmasters_but_icon_divider, 
	.cmsmasters_button.cmsmasters_but_icon_inverse {
		padding-left:69px;
	}
	
	.cmsmasters_button.cmsmasters_but_icon_dark_bg:before, 
	.cmsmasters_button.cmsmasters_but_icon_light_bg:before, 
	.cmsmasters_button.cmsmasters_but_icon_divider:before, 
	.cmsmasters_button.cmsmasters_but_icon_inverse:before, 
	.cmsmasters_button.cmsmasters_but_icon_dark_bg:after, 
	.cmsmasters_button.cmsmasters_but_icon_light_bg:after, 
	.cmsmasters_button.cmsmasters_but_icon_divider:after, 
	.cmsmasters_button.cmsmasters_but_icon_inverse:after {
		width:49px;
	}
	/* Finish Button Font */


	/* Start Small Text Font */
	small,
	small a,
	#fbuilder .fields span.uh, 
	.cmsmasters_img .cmsmasters_img_caption, 
	.cmsmasters_archive_item_user_name, 
	.cmsmasters_archive_item_user_name a, 
	.cmsmasters_archive_item_category, 
	.cmsmasters_archive_item_category a, 
	.cmsmasters_breadcrumbs_inner, 
	.cmsmasters_breadcrumbs_inner a, 
	.widget_custom_twitter_entries .tweet_time,
	.widget_rss ul li .rss-date, 
	.widget_calendar thead th, 
	.widget_calendar tfoot td a, 
	.widget_calendar caption, 
	.cmsmasters_twitter_wrap .published, 
	#fbuilder label,
	.cmsmasters-form-builder label, 
	.cmsmasters_project_category a,
	.cmsmasters_wrap_pagination ul li, 
	.cmsmasters_wrap_pagination ul li a, 
	.post_nav > span > a, 
	.cmsmasters_archive_type .cmsmasters_archive_item_date_wrap, 
	.cmsmasters_archive_type .cmsmasters_archive_item_date_wrap a, 
	.share_posts .share_posts_inner a, 
	.about_author .about_author_cont > a,
	.widget_custom_posts_tabs_entries .cmsmasters_tabs .published,
	.cmsmasters_comment_item .cmsmasters_comment_item_cont_info > a, 
	.cmsmasters_single_slider .cmsmasters_post_category a, 
	.cmsmasters_comment_item .cmsmasters_comment_item_date, 
	.cmsmasters_slider_post_category a, 
	.cmsmasters_slider_project_category a, 
	.cmsmasters_slider_post_author, 
	.cmsmasters_slider_post_author a, 
	.cmsmasters_slider_project_author, 
	.cmsmasters_slider_project_author a, 
	.cmsmasters_likes a,
	.cmsmasters_comments a,
	.cmsmasters_post_category:before,
	.cmsmasters_post_read_more, 
	.cmsmasters_slider_post_read_more, 
	.cmsmasters_post_cont_info > span,
	.cmsmasters_post_cont_info > span a, 
	form .formError .formErrorContent {
		font-family:'Poppins', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:12px;
		line-height:21px;
		font-weight:600;
		font-style:normal;
		text-transform:uppercase;
	}
	
	.cmsmasters_post_default .cmsmasters_post_read_more {
		font-size:14px;
	}
	
	.cmsmasters_likes a:before, 
	.cmsmasters_comments a:before {
		line-height:21px;
	}
	
	#fbuilder .fields span.uh, 
	.cmsmasters-form-builder small {
		font-size:10px;
	}
	
	.cmsmasters_open_profile .profile_details_item_desc, 
	.cmsmasters_open_profile .profile_details_item_desc a, 
	.cmsmasters_open_profile .profile_features_item_desc, 
	.cmsmasters_open_profile .profile_features_item_desc a, 
	.cmsmasters_open_project .project_details_item_desc, 
	.cmsmasters_open_project .project_details_item_desc a, 
	.cmsmasters_open_project .project_features_item_desc, 
	.cmsmasters_open_project .project_features_item_desc a {
		line-height:20px;
	}
	
	.gform_wrapper .description, 
	.gform_wrapper .gfield_description, 
	.gform_wrapper .gsection_description, 
	.gform_wrapper .instruction {
		font-family:'Poppins', Arial, Helvetica, 'Nimbus Sans L', sans-serif !important;
		font-size:12px !important;
		line-height:21px !important;
	}
	/* Finish Small Text Font */


	/* Start Text Fields Font */
	.widget.widget_wysija input:not([type=button]):not([type=checkbox]):not([type=file]):not([type=hidden]):not([type=image]):not([type=radio]):not([type=reset]):not([type=submit]):not([type=color]):not([type=range]),
	input:not([type=button]):not([type=checkbox]):not([type=file]):not([type=hidden]):not([type=image]):not([type=radio]):not([type=reset]):not([type=submit]):not([type=color]):not([type=range]),
	textarea,
	select,
	option {
		font-family:'Poppins', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:14px;
		line-height:21px;
		font-weight:normal;
		font-style:normal;
	}
	
	.widget input:not([type=button]):not([type=checkbox]):not([type=file]):not([type=hidden]):not([type=image]):not([type=radio]):not([type=reset]):not([type=submit]):not([type=color]):not([type=search]):not([type=range]),
	.widget textarea {
		font-size:12px;
	}
	
	.gform_wrapper input:not([type=button]):not([type=checkbox]):not([type=file]):not([type=hidden]):not([type=image]):not([type=radio]):not([type=reset]):not([type=submit]):not([type=color]):not([type=range]),
	.gform_wrapper textarea, 
	.gform_wrapper select {
		font-size:14px !important;
	}
	
	.header_mid input:not([type=button]):not([type=checkbox]):not([type=file]):not([type=hidden]):not([type=image]):not([type=radio]):not([type=reset]):not([type=submit]):not([type=color]):not([type=range]) {
		font-size:60px; /* static */
		line-height:70px; /* static */
	}
	
	@media only screen and (max-width: 1024px) {
		.header_mid input:not([type=button]):not([type=checkbox]):not([type=file]):not([type=hidden]):not([type=image]):not([type=radio]):not([type=reset]):not([type=submit]):not([type=color]):not([type=range]) {
			font-size:40px; /* static */
			line-height:50px; /* static */
		}
	}
	
	/* Finish Text Fields Font */


	/* Start Blockquote Font */
	blockquote,
	.cmsmasters_quotes_grid .cmsmasters_quote_content, 
	.cmsmasters_quotes_slider .cmsmasters_quote_content {
		font-family:'Poppins', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:20px;
		line-height:40px;
		font-weight:normal;
		font-style:normal;
	}
	
	.cmsmasters_quotes_grid .cmsmasters_quote_content {
		font-size:16px;
		line-height:30px;
	}
	
	q {
		font-family:'Poppins', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-weight:normal;
		font-style:normal;
	}
	/* Finish Blockquote Font */

/***************** Finish Theme Font Styles ******************/



/***************** Start Gutenberg Module Custom Font Styles ******************/

	/* Start H6 Font */
	 .wp-block-table thead th,
	 .wp-block-table thead td,
	 .wp-block-freeform.mce-content-body > table thead th,
	 .wp-block-freeform.mce-content-body > table thead td {
		font-family:'Poppins', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:12px;
		line-height:20px;
		font-weight:600;
		font-style:normal;
		text-transform:uppercase;
		text-decoration:none;
	}
	/* Finish H6 Font */

/***************** Finish Gutenberg Module Custom Font Styles ******************/





/***************** Start Gutenberg Module General Font Styles ******************/

	/* Start Content Font */
	body .editor-styles-wrapper,
	body .editor-styles-wrapper p,
	 p.has-drop-cap:not(:focus)::first-letter,
	 .wp-block-image figcaption,
	 .wp-block-gallery .blocks-gallery-image figcaption,
	 .wp-block-gallery .blocks-gallery-item figcaption,
	 .wp-block-gallery .gallery-item .gallery-caption,
	 .wp-block-audio figcaption,
	 .wp-block-video figcaption,
	 .wp-caption dd,
	 div.wp-block ul,
	 div.wp-block ul > li,
	 div.wp-block ol,
	 div.wp-block ol > li,
	 .wp-block-latest-comments.has-avatars .wp-block-latest-comments__comment-meta, 
	 .wp-block-latest-comments .wp-block-latest-comments__comment-meta,
	 .wp-block-latest-comments.has-avatars .wp-block-latest-comments__comment-excerpt p, 
	 .wp-block-latest-comments .wp-block-latest-comments__comment-excerpt p,
	 .wp-block-freeform,
	 .wp-block-freeform p,
	 .wp-block-freeform.mce-content-body {
		font-family:'Poppins', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:14px;
		line-height:24px;
		font-weight:normal;
		font-style:normal;
	}
	
	 p.has-drop-cap:not(:focus)::first-letter {
		font-size:3em;
		line-height:1.2em;
	}
	/* Finish Content Font */
	
	
	/* Start Link Font */
	.editor-styles-wrapper a,
	.editor-styles-wrapper .wp-block-file .wp-block-file__textlink .editor-rich-text__tinymce {
		font-family:'Poppins', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:13px;
		line-height:24px;
		font-weight:600;
		font-style:normal;
		text-transform:none;
		text-decoration:none;
	}
	/* Finish Link Font */
	
	
	/* Start H1 Font */
	body .editor-styles-wrapper h1,
	.editor-styles-wrapper .wp-block-freeform.block-library-rich-text__tinymce h1,
	.editor-post-title__block .editor-post-title__input {
		font-family:'Poppins', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:36px;
		line-height:42px;
		font-weight:normal;
		font-style:normal;
		text-transform:none;
		text-decoration:none;
	}
	/* Finish H1 Font */
	
	
	/* Start H2 Font */
	body .editor-styles-wrapper h2,
	.editor-styles-wrapper .wp-block-freeform.block-library-rich-text__tinymce h2,
	 h2.editor-rich-text__tinymce,
	 .wp-block-cover h2, 
	 .wp-block-cover .wp-block-cover-text, 
	 .wp-block-cover .wp-block-cover-image-text, 
	 .wp-block-cover-image h2, 
	 .wp-block-cover-image .wp-block-cover-text, 
	 .wp-block-cover-image .wp-block-cover-image-text {
		font-family:'Poppins', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:28px;
		line-height:34px;
		font-weight:normal;
		font-style:normal;
		text-transform:none;
		text-decoration:none;
	}
	/* Finish H2 Font */
	
	
	/* Start H3 Font */
	body .editor-styles-wrapper h3,
	.editor-styles-wrapper .wp-block-freeform.block-library-rich-text__tinymce h3 {
		font-family:'Poppins', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:24px;
		line-height:30px;
		font-weight:normal;
		font-style:normal;
		text-transform:none;
		text-decoration:none;
	}
	/* Finish H3 Font */
	
	
	/* Start H4 Font */
	body .editor-styles-wrapper h4,
	.editor-styles-wrapper .wp-block-freeform.block-library-rich-text__tinymce h4 {
		font-family:'Poppins', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:18px;
		line-height:24px;
		font-weight:normal;
		font-style:normal;
		text-transform:none;
		text-decoration:none;
	}
	/* Finish H4 Font */
	
	
	/* Start H5 Font */
	body .editor-styles-wrapper h5,
	.editor-styles-wrapper .wp-block-freeform.block-library-rich-text__tinymce h5 {
		font-family:'Poppins', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:16px;
		line-height:22px;
		font-weight:600;
		font-style:normal;
		text-transform:uppercase;
		text-decoration:none;
	}
	/* Finish H5 Font */
	
	
	/* Start H6 Font */
	body .editor-styles-wrapper h6,
	.editor-styles-wrapper .wp-block-freeform.block-library-rich-text__tinymce h6 {
		font-family:'Poppins', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:12px;
		line-height:20px;
		font-weight:600;
		font-style:normal;
		text-transform:uppercase;
		text-decoration:none;
	}
	/* Finish H6 Font */
	
	
	/* Start Button Font */
	 .wp-block-button .wp-block-button__link,
	 .wp-block-file .wp-block-file__button {
		font-family:'Poppins', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:14px;
		line-height:49px;
		font-weight:600;
		font-style:normal;
		text-transform:uppercase;
	}
	/* Finish Button Font */
	
	
	/* Start Small Text Font */
	 small,
	 .wp-block-latest-posts .wp-block-latest-posts__post-date,
	 .wp-block-latest-comments .wp-block-latest-comments__comment-date {
		font-family:'Poppins', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:12px;
		line-height:21px;
		font-weight:600;
		font-style:normal;
		text-transform:uppercase;
	}
	/* Finish Small Text Font */
	
	
	/* Start Text Fields Font */
	.editor-styles-wrapper select,
	.editor-styles-wrapper option {
		font-family:'Poppins', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:14px;
		line-height:21px;
		font-weight:normal;
		font-style:normal;
	}
	
	.editor-styles-wrapper select {
		line-height:1em;
	}
	/* Finish Text Fields Font */
	
	
	/* Start Blockquote Font */
	 .wp-block-quote,
	 .wp-block-quote.is-large,
	 .wp-block-quote.is-style-large,
	 .wp-block-pullquote,
	.editor-styles-wrapper .wp-block-freeform blockquote,
	.editor-styles-wrapper .wp-block-freeform blockquote p {
		font-family:'Poppins', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:20px;
		line-height:40px;
		font-weight:normal;
		font-style:normal;
	}
	
	 .wp-block-quote.is-large,
	 .wp-block-quote.is-style-large {
		font-size:24px;
		line-height:44px;
	}
	
	 .wp-block-pullquote {
		font-size:16px;
		line-height:36px;
	}
	
	.editor-styles-wrapper q {
		font-family:'Poppins', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-weight:normal;
		font-style:normal;
	}
	/* Finish Blockquote Font */

/***************** Finish Gutenberg Module General Font Styles ******************/

